        .well{ margin: 10px; }
        .alert{ margin: 10px; }
        .column { float: left; padding: 10px;   box-sizing: border-box; }
        .size-1of1 { width: 100%; }
        .size-1of2 { width: 50%; }
        .size-1of3 { width: 33.33333%; }
        .size-1of4 { width: 25%; }